/* ---------------------------------- */
/* Configuration des couleurs de base */
/* ---------------------------------- */

$backgroundColor01: #101010;
$backgroundColor02: #141414;
$backgroundColor03: #1A1A1A;
$backgroundColor04: #0A0A0A;

$titleColor: #FFFFFF;
$aHoverRed: #902d2f;

/* Users ranks */
$rankLegendary: #814E92;
$rankPlatinium: #FD7A46;
$rankGoldElite: #FB9B3D;
$rankSilverNoob: #9A94A0;
$rankCopperDiv: #995149;

/* Users groups */
$groupAdmin: #902d2f;
$groupManager: #FD7A46;
$groupModerateur: #FB9B3D;

/* Users infos */
$userName: #E3E3E3;
$userPoints: #AFAFAF;

/* BLOG */
$articleTitle: #FFFFFF;
$articleContent: #AFAFAF;
$articleAside: #FFFFFF;
$articleAsideAuthor: #902d2f;
$articleAsideDate: #E2D2D2;

/* EDITOR */
$buttonBackground: #1D1D1D;
$buttonBackgroundHover: #101010;
$buttonColor: #FFFFFF;

$contentBackground: #fff;

$editorBackground: #FFFFFF;
$editorText: #495057;

